body {
    margin: 0;
    color: #fff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-color: #1b2328;
}

.content {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

.content p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.5;
}

.AllInput {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 10px;
    background-color: #36454F;
    padding: 10px;

}

.ButtonTodo {
    width: 5rem;
    height: 2rem;
}

.all {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.todo-list {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    color: #fff;
    background-color: #36454F;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.all-list {
    display: flex;
    justify-content: center;
}

ul, li {
    list-style: none;
    padding-left: 0px;
}

ul {
    display: grid;
    gap: 10px;
}

li {
    display: flex;
    gap: 20px;
    align-items: center;
}

.button-li {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.li-input {
    background-color: transparent;
    border: transparent;
    color: #fff;
}

.li-date {
    background-color: transparent;
    border: transparent;
    color: #fff;
    font-size: 0.8rem;
}

input {
    cursor: pointer;
}

.error {
    background-color: #f44336;
    color: #fff;
}